# OpenAI Configuration
MEALIE_OPENAI_BASE_URL=
MEALIE_OPENAI_API_KEY=not-a-real-key
MEALIE_OPENAI_MODEL=gpt-4o
MEALIE_OPENAI_CUSTOM_HEADERS=
MEALIE_OPENAI_CUSTOM_PARAMS=
MEALIE_OPENAI_ENABLE_IMAGE_SERVICES=True
MEALIE_OPENAI_WORKERS=2
MEALIE_OPENAI_SEND_DATABASE_DATA=True
MEALIE_OPENAI_REQUEST_TIMEOUT=60
