# Theme Configuration

# Light Theme
MEALIE_THEME_LIGHT_PRIMARY=#E58325
MEALIE_THEME_LIGHT_ACCENT=#007A99
MEALIE_THEME_LIGHT_SECONDARY=#973542
MEALIE_THEME_LIGHT_SUCCESS=#43A047
MEALIE_THEME_LIGHT_INFO=#1976D2
MEALIE_THEME_LIGHT_WARNING=#FF6D00
MEALIE_THEME_LIGHT_ERROR=#EF5350

# Dark Theme
MEALIE_THEME_DARK_PRIMARY=#E58325
MEALIE_THEME_DARK_ACCENT=#007A99
MEALIE_THEME_DARK_SECONDARY=#973542
MEALIE_THEME_DARK_SUCCESS=#43A047
MEALIE_THEME_DARK_INFO=#1976D2
MEALIE_THEME_DARK_WARNING=#FF6D00
MEALIE_THEME_DARK_ERROR=#EF5350
